body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}
#header{
    position:relative;
    height: 12em;

}
#logobook{
    position:absolute;
    width: 28%;

}
#logocup {
    position:absolute;
    right:2%;
}
#namesite{
    position:absolute;
    left:30%;
    top: 1.6em;
}
#namesite a{
    color: #c82c28;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    font-weight: normal;
    text-decoration: none;
}
#namesite p{
    font-size:1.2em;
    margin-left: 2.6em;
    margin-top:-0.5em;
}
#search{
    position: absolute;
    left: 18%;
    top:10em;

}
#input_search{
    height: 25px;
}
#submit_search{
    height: 25px;
    padding: 0 5px;
    background-color:#c82c28;
    color:white;
    border-color: #A5A1A1;


}
#navbar{
    margin-left: 5em;
}
#navbar li a{
    font-size: 1.3em;
    color:black;
    border-radius: 8px;
}
.active a{
    background-color: #c82c28!important;
    color: #ffffff!important;

}
#dotted{
    border-bottom: 3px dotted black;
    margin: 1em 0;
}
#recepty{


    padding: 0;
    border-right: 1px solid #e5e5e5;

}
#recepty li a{
    color: #5f504c;
    font-size: 1.15em;
    font-weight: normal;
    padding-left:25px;
}
#recepty li a:hover{
    text-decoration: underline;
    background-color: white;

}
.left{
    float: left;
    display:block;
    padding-top: 13px;
}
.divider{
    border-bottom: 1px solid #e3e3e3;
    margin-left: 25px!important;
}
#left-menu{
    padding-left: 0;
}
.margin-bottom{
    margin-bottom: 10px;
}

